/* Register Page Styling */
.registerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Form Container */
  .formContainer {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    height: 500px;
    gap: 20px;
  }
  
  .formContainer form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: none;
  }
  
 
  
  .formContainer form input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
  }
  
  .formContainer form  input:focus {
    outline: none;
    border-color: #00acc1;
    box-shadow: 0 0 5px rgba(0, 172, 193, 0.5);
  }
  
  .formContainer form  button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: #00acc1;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .formContainer form  button:hover {
    background-color: #00838f;
    transform: translateY(-2px);
  }
  
  .formContainer form  button:active {
    transform: translateY(0);
  }
  
  .formContainer form  span {
    color: rgba(255, 0, 0, 0.7);
    font-size: 14px;
  }
  
  .formContainer form  a {
    font-size: 14px;
    color: #00acc1;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .formContainer form  a:hover {
    color: #00838f;
    text-decoration: underline;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .registerPage {
      padding: 10px;
    }
  
    .formContainer {
      padding: 20px;
    }
  }
  